// .accordion-section-one
.accordion-section-one {
    padding: 120px 0 50px;
    position: relative;
    z-index: 1;
    background: var(--theme-bg-color1);
    &.inner{
       padding: 120px 0 100px; 
    }
    &.four{
        padding: 120px 0 100px; 
    }
    .sec-title{
        margin-bottom: 75px;
    }
    .tab_container{
        overflow: hidden;
        position: relative;
        .accordion{
            li{
                list-style: none;
                padding: 0px 0px 20px;
                a{
                    position: relative;
                    width: 100%;
                    display: block;
                    cursor: pointer;
                    padding: 26px 40px 25px 40px;
                    z-index: 1;
                    font-size: 22px;
                    color: var(--theme-color-white);
                    font-weight: 600;
                    font-family: var(--title-font);
                    border-radius: 20px;
                    background: #FFFFFF0D;
                    border: 1px solid rgba(92, 91, 229, 0.3);
                    @include media-breakpoint-only(lg){
                        padding: 26px 15px 25px 15px;
                        font-size: 20px;
                    }
                    @include media-breakpoint-only(sm){
                        padding: 26px 15px 25px 15px;
                        font-size: 20px;
                    }
                    &::before{
                        width: 2px;
                        height: 12px;
                        background:var(--theme-color-white);
                        position: absolute;
                        right: 53px;
                        content: " ";
                        top: 34px;
                        transform: rotate(0deg);
                        transition: all 0.5s ease-in-out;
                        z-index: 2;
                        @include media-breakpoint-only(lg){
                            right: 20px;
                            top: 35px;
                        }
                    }
                    &::after{
                        width: 12px;
                        height: 2px;
                        background:var(--theme-color-white);
                        position: absolute;
                        right: 48px;
                        content: " ";
                        top: 40px;
                        transition: all 0.5s ease-in-out;
                        z-index: 1;
                        @include media-breakpoint-only(lg){
                            right: 15px;
                        }
                    }
                    &.active::after{
                        transform: rotate(0deg);
                        -webkit-transition: all 0.5s ease-in-out;
                        background:var(--theme-color-white);
                    }
                    &.active::before{
                       display:none;
                    }
                    &.active{
                        border-radius: 20px 20px 0px 0px;
                        background: #FFFFFF0D;
                        border: 1px solid rgba(103, 102, 255, 0.5);
                        border-bottom:transparent;
                        padding: 26px 40px 20px 40px;
                        @include media-breakpoint-only(lg){
                            padding: 26px 15px 25px 15px;
                        }
                    }
                    &.active span{
                        color:var(--theme-color-white);
                    }
                    &.active span::before{
                        background:var(--theme-primary);
                    }
                    span{
                        position: relative;
                        z-index: 1;
                        &::before{
                            position: absolute;
                            content: "";
                            top: -6px;
                            right: -575px;
                            width: 40px;
                            height: 40px;
                            border-radius: 24px;
                            background: linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
                            border: 1px solid rgba(103, 102, 255, 0.5);

                            @include media-breakpoint-only(md){
                                right: -620px;
                            }
                        }
                    }
                }
                p{
                    display: none;
                    padding: 0px 30px 30px 32px;
                    margin: 0;
                    overflow: hidden;
                    font-size: 18px;
                    line-height: 28px;
                    color: rgba(255, 255, 255, 0.7);
                    font-weight: 400;
                    font-family: var(--text-font);
                    border-radius: 0px 0px 20px 20px;
                    background: #FFFFFF0D;
                    border: 1px solid rgba(103, 102, 255, 0.5);
                    border-top:transparent;
                    @include media-breakpoint-only(lg){
                        padding: 0px 15px 30px 15px;
                    }
                }
            }
        }
    }
    .accordion-effient{
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .accordion-shape1{
        position: absolute;
        left: 0;
        top: 0;
    }
    .accordion-shape2{
        position: absolute;
        right: 0;
        top: 0;
    }
    .accordian-thumb-wrap{
        position: relative;
        .accordian-thumb{
            figure{

            }
        }
        .accordian-dot{
            position: absolute;
            top: -30px;
            left: -55px;
            animation: twinkle 2s infinite ease-in-out;
        }
    }
}


// accordian-page title
.accordion-page-title {
    background: var(--theme-bg-color1);
    padding: 202px 0px 110px;
    position: relative;
    margin-top: -102px;
    .title-content{
        margin-bottom: 52px;
        text-align: center;
        .page-sub-title{
            display: inline-block;
            color: var(--theme-color-white);
            font-family:var(--title-font);
            font-weight: 600;
            font-size: 18px;
            padding: 8px 30px;
            border-radius: 40px;
            position: relative;
            background:#FFFFFF0D;
            margin: 0;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 40px;
                border: 1.5px solid transparent;
                background: linear-gradient(91.06deg, #6766FF 6.82%, rgba(103, 102, 255, 0.2) 37.09%, rgba(103, 102, 255, 0.2) 67.36%, #6766FF 96.43%) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }
        }
        .page-title{
            color: var(--theme-color-white);
            font-weight: 700;
            font-size: 50px;
            line-height: 56px;
            margin: 14px 0 5px;
        }
        .page-desc{
            color: rgb(255 255 255 / 70%);
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            width: 40%;
            margin:0px auto;
            @include for-xxl{
                width: 100%; 
            }
        }
    }
    .tab_container{
        overflow: hidden;
        position: relative;
        .accordion{
            li{
                list-style: none;
                padding: 0px 0px 20px;
                a{
                    position: relative;
                    width: 100%;
                    display: block;
                    cursor: pointer;
                    padding: 26px 40px 25px 40px;
                    z-index: 1;
                    font-size: 22px;
                    color: var(--theme-color-white);
                    font-weight: 600;
                    font-family: var(--title-font);
                    border-radius: 20px;
                    background: #FFFFFF0D;
                    border: 1px solid rgba(92, 91, 229, 0.3);
                    @include media-breakpoint-only(lg){
                        padding: 26px 15px 25px 15px;
                        font-size: 20px;
                    }
                    &::before{
                        width: 2px;
                        height: 12px;
                        background:var(--theme-color-white);
                        position: absolute;
                        right: 53px;
                        content: " ";
                        top: 34px;
                        transform: rotate(0deg);
                        transition: all 0.5s ease-in-out;
                        z-index: 2;
                        @include media-breakpoint-only(lg){
                            right: 20px;
                            top: 35px;
                        }
                    }
                    &::after{
                        width: 12px;
                        height: 2px;
                        background:var(--theme-color-white);
                        position: absolute;
                        right: 48px;
                        content: " ";
                        top: 40px;
                        transition: all 0.5s ease-in-out;
                        z-index: 1;
                        @include media-breakpoint-only(lg){
                            right: 15px;
                        }
                    }
                    &.active::after{
                        transform: rotate(0deg);
                        -webkit-transition: all 0.5s ease-in-out;
                        background:var(--theme-color-white);
                    }
                    &.active::before{
                       display:none;
                    }
                    &.active{
                        border-radius: 20px 20px 0px 0px;
                        background: #FFFFFF0D;
                        border: 1px solid rgba(103, 102, 255, 0.5);
                        border-bottom:transparent;
                        padding: 26px 40px 20px 40px;
                        @include media-breakpoint-only(lg){
                            padding: 26px 15px 25px 15px;
                        }
                    }
                    &.active span{
                        color:var(--theme-color-white);
                    }
                    &.active span::before{
                        background:var(--theme-primary);
                    }
                    span{
                        position: relative;
                        z-index: 1;
                        &::before{
                            position: absolute;
                            content: "";
                            top: -6px;
                            right: -575px;
                            width: 40px;
                            height: 40px;
                            border-radius: 24px;
                            background: linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 80%);
                            border: 1px solid rgba(103, 102, 255, 0.5);

                            @include media-breakpoint-only(md){
                                right: -650px;
                            }
                        }
                    }
                }
                p{
                    display: none;
                    padding: 0px 30px 30px 32px;
                    margin: 0;
                    overflow: hidden;
                    font-size: 18px;
                    line-height: 28px;
                    color: rgba(255, 255, 255, 0.7);
                    font-weight: 400;
                    font-family: var(--text-font);
                    border-radius: 0px 0px 20px 20px;
                    background: #FFFFFF0D;
                    border: 1px solid rgba(103, 102, 255, 0.5);
                    border-top:transparent;
                    @include media-breakpoint-only(lg){
                        padding: 0px 15px 30px 15px;
                    }
                }
            }
        }
    }
}