.intellio-button{
    a{
        display: inline-block;
        font-family: var(--title-font);
        color: var(--theme-color-white);
        background-color: var(--theme-color2);
        padding: 12px 37px;
        font-weight: 400;
        font-size: 18px;
        border-radius: 45px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 300ms ease;
        &::before{
            position: absolute;
            content: "";
            height: 16px;
            width: 1px;
            background-color: var(--theme-color-white);
            left: 165px;
            top: 20px;
        }
        i{
            display: inline-block;
            margin-left: 22px;
            font-size: 16px;
            font-weight: 400;
            position: relative;
            top: 2px;
        }
        span{
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            display: block;
            border-radius: 30px;
            background-color: #1e1e1e;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
            transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        }
        &:hover span{
            width:500px;
            height: 500px;
        }
    }
}