/*** 

====================================================================
Reset
====================================================================

***/

*{
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
    font-size: 100%;
}

/*** 

====================================================================
Global Settings
====================================================================

***/

textarea{
    overflow:hidden;    
    resize: none;
}

button{
    outline: none !important;
    cursor: pointer;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.title a{
    color: inherit;
}

.color1{color: var(--theme-color1);}
.color2{color: var(--theme-color2);}
.color3{color: var(--theme-color3);}
.bg-color3{background-color: var(--theme-color3) !important}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    z-index: 99;
    background-color: #ffffff;
}

.large-container {
    position: static;
    max-width:var(--large-container-width);
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.auto-container{
    position:static;
    max-width:var(--container-width);
    padding:0px 15px;
    margin:0 auto;
    width: 100%;
}

.main-container{
    position:static;
    max-width:var(--main-container-width);
    padding:0px 15px;
    margin:0 auto;
    width: 100%;
}

.small-container{
    position:static;
    max-width:var(--small-container-width);
    padding:0px 15px;
    margin: 0 auto;
    width: 100%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.dropdown-toggle::after {
    display: none;
}

/*==========================
	Prelaoder
===========================*/
.preloader{ 
    position:fixed; 
    left:0px; 
    top:0px; 
    width:100%; 
    height:100%; 
    z-index:999999; 
    background-color:var(--theme-color1);
    &:before{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        color: var(--theme-color-white);
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        content: "Loading";
        text-transform: uppercase;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 100px;
        margin: -75px 0 0 -50px;
        border-radius: 50%;
        border: 3px solid #6766FF;
        border-top-color:#EB7043;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color:#37B884;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }
        &:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color:var(--theme-primary);
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*=======================
Scroll To Top style
=======================*/

.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: var(--theme-primary);
    z-index: 100;
    display: none;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.scroll-to-top:hover {
    background: var(--theme-primary);
    color: #ffffff;
}












