// blog details -page title
.blog-details-page-title {
    background: var(--theme-bg-color1);
    padding: 202px 0px 0px;
    position: relative;
    margin-top: -102px;
    .title-content{
        margin-bottom: 52px;
        text-align: center;
        .page-sub-title{
            display: inline-block;
            color: var(--theme-color-white);
            font-family:var(--title-font);
            font-weight: 600;
            font-size: 18px;
            padding: 8px 30px;
            border-radius: 40px;
            position: relative;
            background:#FFFFFF0D;
            margin: 0;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 40px;
                border: 1.5px solid transparent;
                background: linear-gradient(91.06deg, #6766FF 6.82%, rgba(103, 102, 255, 0.2) 37.09%, rgba(103, 102, 255, 0.2) 67.36%, #6766FF 96.43%) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }
        }
        .page-title{
            color: var(--theme-color-white);
            font-weight: 700;
            font-size: 50px;
            line-height: 56px;
            margin: 14px 0 5px;
        }
        .page-desc{
            color: rgb(255 255 255 / 70%);
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            width: 40%;
            margin:0px auto;
            @include for-xxl{
                width: 100%; 
            }
        }
    }

    .blog-details-area{
        position: relative;
    .blog-details-thumb{
        overflow: hidden;
        img{
            width: 100%;
            transition: 0.5s;
            &:hover{
                transform: scale(1.2) skew(-10deg);
            }
        }
    }
    .blog-details-content {
        padding: 60px 70px 20px;
        background: var(--theme-bg-color1);
        border-radius: 20px 20px 0px 0px;
        width: 1160px;
        margin: 0px auto;
        position: relative;
        margin-top: -100px;
        @include media-breakpoint-only(lg){
            padding: 60px 20px 20px;
            width: 940px;
        }
        @include media-breakpoint-only(md){
            padding: 60px 20px 20px;
            width: 720px;
        }
        @include media-breakpoint-only(sm) {
            padding: 27px 10px 20px;
            width: 530px;
        }
        .meta-blog{
            .mate-text{
                padding-left: 25px;
                position: relative;
                font-family:var(--title-font);
                font-weight: 500;
                font-size: 18px;
                line-height: 36px;
                color: var(--theme-primary);
                &::before{
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    left: 5px;
                    top: 11px;
                    border-radius: 50%;
                    background:var(--theme-primary);
                }
            }
            >span{
                display: inline-block;
                margin-right: 36px;
                font-family:var(--title-font);
                font-weight: 500;
                font-size: 18px;
                line-height: 36px;
                color: var(--theme-color-white);
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    left: -20px;
                    top: 13px;
                    border-radius: 50%;
                    background:var(--theme-primary);
                }
            }
        }
        .blog-details-title{
            margin: 12px 0 19px;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            color: var(--theme-color-white);
        }
        .blog-details-desc{
            margin-bottom: 25px;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: rgb(255 255 255 / 70%);
        }
        .blog-details-author-talk{
            display: flex;
            gap: 26px;
            background:var(--theme-color8);
            padding: 45px 51px 30px;
            margin-top: 48px;
            position: relative;
            margin-bottom: 50px;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 40px;
                border: 1.5px solid transparent;
                background: linear-gradient(91.06deg, #6766FF 6.82%, rgba(103, 102, 255, 0.2) 37.09%, rgba(103, 102, 255, 0.2) 67.36%, #6766FF 96.43%) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }
            @include media-breakpoint-only(xl) {
                padding: 41px 20px 40px;
            }
            @include media-breakpoint-only(lg) {
                padding: 41px 15px 40px;
            }
            @include media-breakpoint-only(md) {
                padding: 41px 10px 40px;
            }
            @include media-breakpoint-only(sm) {
                padding: 41px 10px 40px;
            }
            .blog-details-quote{
                flex-shrink: 0;
                img{
                    position: relative;
                    top: 8px;
                }
            }
            .blog-details-author-title{
                p{
                    color: var(--theme-color-white);
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 36px;
                    @include media-breakpoint-only(sm) {
                        font-size: 20px;
                    }
                }
                span{
                    margin-left: 58px;
                    display: inline-block;
                    color:var(--heading-color);
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 50px;
                        height: 2px;
                        left: -58px;
                        top: 12px;
                        background:var(--theme-color2);
                    }
                }
            }
        }
        .blog-details-title{
            margin: 10px 0 10px;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            color: var(--theme-color-white);
            @include media-breakpoint-only(md){
                font-size: 36px;
            }
            @include media-breakpoint-only(sm){
                font-size: 30px;
            }
        }
        .blog-details-desc{
            font-size: 17px;
            margin-bottom: 25px;
            &.two{
                width: 95%;
                padding: 10px 0 10px;
            }
        }
        .blog-details-list-item{
            margin-bottom: 40px;
            ul{
                li{
                    margin-bottom: 10px;
                    font-size: 17px;

                    img{
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
        .blog-details-inner-block{
            figure{
                margin: 0;
            }
        }
        .blog-details-title{
            &.two{
                font-size: 28px;
                margin: 25px 0 10px;
            }
        }
        .blog-details-desc{
            font-size: 18px;
            margin-bottom: 25px;
            @include media-breakpoint-only(md){
                font-size: 17px;
            }
            &.three{
                width: 100%;
            }
        }
    }
    .blog-details-post{
        margin-top: 40px;
        .blog-post-box{
            display: flex;
            background:var(--theme-color8);
            align-items: center;
            padding: 84px 21px 31px 43px;
            gap: 23px;
            margin: 0 13px;
            &.style-two{
                text-align: right;
                padding: 85px 49px 31px 21px;
            }
            .blog-post-thumb{
                flex-shrink: 0;
                img{

                }
            }
            .blog-post-content{
                a{
                    display: inline-block;
                    font-size: 20px;
                    line-height: 26px;
                    color:var(--heading-color);
                    font-weight: 600;
                    transition: 0.5s;
                }
                p{
                    font-size: 14px;
                    margin: 0;
                    color: var(--theme-color2);
                }
            }
        }
    }
    .single-comment-area{
        background:var(--theme-color8);
        padding: 36px 70px 0px;
        border-radius: 5px;
        width: 1160px;
        margin: 0px auto;
        position: relative;
        @include media-breakpoint-only(sm) {
             padding: 49px 10px 56px;
        }
        .blog-details-comment-title{
            h4{
                font-size: 36px;
                color: var(--theme-color-white);
                font-weight: 700;
                margin: 0 0 24px;
            }
        }
        .blog-details-comment{
            margin-bottom: 19px;
            position: relative;
            padding: 36px 30px 40px;
            background: var(--theme-bg-color3);
            border-radius: 20px;
            &.style-two{
                margin-left: 105px;
                @include media-breakpoint-only(lg) {
                     margin-left: 0px;
                }
                @include media-breakpoint-only(md) {
                     margin-left: 0px;
                }
                @include media-breakpoint-only(sm) {
                     margin-left: 0px;
                }
            }
            .blog-details-comment-reply{
                position: absolute;
                right: 22px;
                top: 21px;
                @include media-breakpoint-only(sm) {
                     display: none;
                }
                a{
                    background:rgb(255 255 255 / 10%);
                    border: 1px solid rgb(255 255 255 / 10%);
                    padding: 3px 20px;
                    font-size: 16px;
                    font-weight: 600;
                    color:var(--theme-color-white);
                    border-radius: 40px;
                    display: inline-block;
                    img{
                        margin-right: 10px;
                    }
                }
            }
            .blog-details-comment-thumb{
                float: left;
                margin-right: 30px;
            }
            .blog-details-comment-content{
                overflow: hidden;
                h2{
                    color: var(--theme-color-white);
                    font-size: 22px;
                    margin-top: 0;
                    display: inline-block;
                    font-weight: 600;
                    margin-right: 30px;
                    margin-bottom: 5px;
                }
                span{
                    display: inline-block;
                    color: rgb(255 255 255 / 60%);
                    font-size: 18px;
                    font-weight: 500;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 20px;
                        height: 1px;
                        background: rgb(255 255 255 / 30%);
                        left: -25px;
                        top: 15px;
                    }
                }
                .blog-autor-ratting{
                    li{
                        display: inline-block;
                        color: var(--theme-color4);
                    }
                    .ratting-rate{
                        color: var(--theme-color-white) !important;
                        font-size: 18px;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 28px;
                    margin: 13px 0 0;
                    color: rgb(255 255 255 / 70%);
                    width: 90%;
                }
            }
        }
    }
    .blog-details-contact{
        background: var(--theme-bg-color3);
        border-radius: 20px;
        margin-top: 40px;
        padding: 60px;
        .blog-details-contact-title{
            h4{
                font-size: 36px;
                font-weight: 700;
                padding-bottom: 31px;
                color: var(--theme-color-white);
            }
        }
        .contact-input-box{
            input{
                background:transparent;
                border:1px solid rgb(255 255 255 / 10%);
                width: 100%;
                height: 60px;
                padding: 22px;
                outline: 0;
                border-radius: 10px;
                margin-bottom: 25px;
                color: var(--theme-color-white);
                &::placeholder{
                    font-family:var(--title-font);
                    font-weight: 600;
                    font-size: 17px;
                    color: rgb(255 255 255 / 60%);
                }
            }
            textarea{
                background:transparent;
                border:1px solid rgb(255 255 255 / 10%);
                width: 100%;
                height: 180px;
                padding: 12px 22px 0;
                outline: 0;
                margin-top: 11px;
                margin-bottom: 20px;
                color: var(--theme-color-white);
                &::placeholder{
                    font-family:var(--title-font);
                    font-weight: 600;
                    font-size: 17px;
                    color: rgb(255 255 255 / 60%);
                }
            }
        }
        .blog-details-submi-button{
            button{
                background:var(--theme-primary);
                color:var(--theme-color-white);
                text-transform: uppercase;
                border: transparent;
                padding: 12px 26px;
                font-size: 15px;
                margin-top: 10px;
                position: relative;
                z-index: 1;
                transition: 0.5s;
                border-radius: 40px;
                font-weight: 500;
                i{
                    display: inline-block;
                    margin-left: 10px;
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    background:var(--theme-color-white);
                    transition: 0.5s;
                    z-index: -1;
                    border-radius: 40px;
                }
                &:hover{
                    color: var(--theme-color2);
                }
                &:hover::before{
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    }
}