// contact page title
.contact-page-title {
    background: var(--theme-bg-color1);
    padding: 202px 0px 100px;
    position: relative;
    margin-top: -102px;
    .title-content{
        margin-bottom: 52px;
        text-align: center;
        .page-sub-title{
            display: inline-block;
            color: var(--theme-color-white);
            font-family:var(--title-font);
            font-weight: 600;
            font-size: 18px;
            padding: 8px 30px;
            border-radius: 40px;
            position: relative;
            background:#FFFFFF0D;
            margin: 0;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 40px;
                border: 1.5px solid transparent;
                background: linear-gradient(91.06deg, #6766FF 6.82%, rgba(103, 102, 255, 0.2) 37.09%, rgba(103, 102, 255, 0.2) 67.36%, #6766FF 96.43%) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }
        }
        .page-title{
            color: var(--theme-color-white);
            font-weight: 700;
            font-size: 50px;
            line-height: 56px;
            margin: 14px 0 5px;
        }
        .page-desc{
            color: rgb(255 255 255 / 70%);
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            width: 40%;
            margin:0px auto;
            @include for-xxl{
                width: 100%; 
            }
        }
    }

    .contact-thumb{
        figure{
            border-radius: 10px;
            margin: 0;
        }
    }
    .contact-form-area{
        background: var(--theme-bg-color3);
        border-radius: 20px;
        padding: 60px;
        .contact-input-box{
            input{
                background:transparent;
                border:1px solid rgb(255 255 255 / 10%);
                width: 100%;
                height: 60px;
                padding: 22px;
                outline: 0;
                border-radius: 10px;
                margin-bottom: 25px;
                color: var(--theme-color-white);
                &::placeholder{
                    font-family:var(--title-font);
                    font-weight: 600;
                    font-size: 17px;
                    color: rgb(255 255 255 / 60%);
                }
            }
            textarea{
                background:transparent;
                border:1px solid rgb(255 255 255 / 10%);
                width: 100%;
                height: 180px;
                padding: 12px 22px 0;
                outline: 0;
                margin-top: 11px;
                margin-bottom: 20px;
                color: var(--theme-color-white);
                &::placeholder{
                    font-family:var(--title-font);
                    font-weight: 600;
                    font-size: 17px;
                    color: rgb(255 255 255 / 60%);
                }
            }
        }
        .blog-details-submi-button{
            button{
                background:var(--theme-primary);
                color:var(--theme-color-white);
                text-transform: uppercase;
                border: transparent;
                padding: 12px 26px;
                font-size: 15px;
                margin-top: 10px;
                position: relative;
                z-index: 1;
                transition: 0.5s;
                border-radius: 40px;
                font-weight: 500;
                i{
                    display: inline-block;
                    margin-left: 10px;
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    background:var(--theme-color-white);
                    transition: 0.5s;
                    z-index: -1;
                    border-radius: 40px;
                }
                &:hover{
                    color: var(--theme-color2);
                }
                &:hover::before{
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}